.page-container {
    padding: 20px;
    background: #f3f4f7;
    min-height: 100vh;
}

.page-header h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

/* Bảng */
.data-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.data-table th {
    background: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
}

.data-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

/* Toolbar */
.toolbar {
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    color: white;
}

.primary { background-color: #4CAF50; }
.primary:hover { background-color: #43a047; }

.secondary { background-color: #0288d1; }
.secondary:hover { background-color: #0277bd; }

.danger { background-color: #e53935; }
.danger:hover { background-color: #c62828; }
.page-container {
    padding: 20px;
    background: #f3f4f7;
    min-height: 100vh;
}

.data-table th {
    background: #007bff; /* Màu header bảng */
    color: white;
    padding: 12px;
    text-align: center;
}
.toolbar{ animation: rotate 1s infinite ;}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  
  100% { transform: rotate(360deg); }
}