/* File: ui/EmployeeFile/EmployeeFile.css */

/* Tái sử dụng style từ Account.css, đảm bảo các class .page-container, .data-table, .toolbar, .btn đã được định nghĩa */

.page-container {
    padding: 20px;
    background: #f3f4f7;
    min-height: 100vh;
}

.page-header h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

/* Bảng */
.data-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px; /* Thêm khoảng cách với nút */
}

.data-table th {
    background: #4cd3ee; /* Thay đổi màu header */
    color: white;
    padding: 12px;
    text-align: center;
}

.data-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

/* Toolbar ở dưới */
.toolbar {
    margin-top: 20px;
    text-align: center;
}

.btn {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.primary { background-color: #28a745;
animation:rotate 3s infinite; }

@keyframes anim-div{
    0%{transform: rotateY(0);}
    100%{transform: rotateY(360deg);}
}
.primary:hover { background-color: #218838; }

.secondary { background-color: #007bff; }
.secondary:hover { background-color: #0069d9; }

.danger { background-color: #dc3545; }
.danger:hover { background-color: #c82333; }
.toolbar{ animation: anim-div 3s infinite ;}
@keyframes anim-div{
    0%{transform:anim-div(0);}
    100%{transform:anim-div(360deg);}
}